* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "Microsoft JhengHei", sans-serif;
  margin: 0;
  padding: 0;
  background: #f0efe9;
}

ul {
  list-style: none;
}

input {
  width: 230px;
  border-radius: 5px;
  border: 1px solid #cfd0d5;
  height: 30px;
  padding: 10px;
}

button[type=submit] {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #388e3c;
  border: none;
  color: white;
  font-size: 27px;
  box-shadow: 3px 2px 6px #cfd0d5;
}

button[type="submit"]:before {
  content: "+";
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.todoForm {
  width: 40%;
  height: auto;
  max-width: 378px;
  min-width: 360px;
  min-height: 400px;
  margin: 25px auto;
  border-radius: 7px;
  box-shadow: 0 0 5px #cfd0d5;
  background: white;
  padding-bottom: 30px;
}

.todoForm .title {
  text-align: center;
  font-size: 1.9rem;
  color: #56596a;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}

.done, .undone {
  color: #56596a;
  font-size: 1em;
}

.done span:first-of-type, .undone span:first-of-type {
  padding: 3px;
  margin-right: 10px;
  border: 1px solid #CFD0D5;
  border-radius: 3px;
}

.done {
  opacity: 0.6;
}

.done span:nth-child(2) {
  text-decoration: line-through;
}

.done spanspan:first-of-type {
  opacity: 1;
}

.undone spanspan:first-of-type {
  color: #fff;
}

li {
  border-top: 1px solid #CFD0D5;
  border-bottom: 1px solid #CFD0D5;
}

li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

li+li {
  border-top: none;
}

.icon:before {
  content: "✓";
  color: #56596a;
}

.close {
  border: none;
  background: none;
  font-size: 1em;
  color: #56596a;
}